@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,800&family=Inconsolata:wght@300&family=Kanit:wght@500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.logo a {

    background: linear-gradient(
        to right,rgba(0, 168, 253), #fff 35%, #e00a95);
    
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s linear infinite;

}


@keyframes gradient {
    0% {background-position: 0% 75%;}
    50% {background-position: 100% 50%;}       
    100% {background-position: 0% 70%;}
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 1rem;
    overflow: hidden;
}

/* Navigation */
#main-nav {
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 6fr 2fr;
    align-items: center;
}


#main-nav ul {
    justify-self: end;
    display: flex;
}
#main-nav ul:hover {
    cursor: pointer;
    color: red ;
}


#main-nav ul li a {
    padding: 0.75rem;
}