:root {
    --primary-color: #c72727;
    --light-color: #f3f3f3;
    --dark-color:#333;
    --secondary-color:#f99500;
    --light-seacolor: #00dfc4;
    --light-naturecolor: rgb(0, 252, 113);
    --light-yellowcolor: rgb(255, 251, 0);
    --max-width: 1100px ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background:var(--light-color);
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}
/* Utility class */

h1,h2,h3,h4,h5,h6 { 
    margin-bottom: 0.55rem;
    line-height: 1.3;
}
.container {
    max-width:100vw;
    margin: auto;
    padding: 0 1rem;
    overflow: hidden;
}

/* Navigation */
#main-nav {
    background: #1d2b3a;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 2fr 6fr;
    align-items: center;
    margin: 20px 100px 20px 50px;
}

.logo a {
    font-size: 3rem;
    justify-self: start;
    color: rgb(0, 252, 113);
}

.container .contact {
  
    justify-self: end;
}

#main-nav ul {
    justify-self: center;
    display: flex;
}
#main-nav ul:hover {
    cursor: pointer;
    color: red ;
}


#main-nav ul li a {
    padding: 0.75rem;
}
/* Showcase */

#showcase {
    color: #fff;
    background: #050505;
    padding: 2rem;
    position: relative;
}

.category {
    display: inline-block;
    color: #fff;
    font-size: 0.55rem;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}
.category-sea { background: var(--light-seacolor); }
.category-nature { background: var(--light-naturecolor); }
.category-yellow { background: var(--light-yellowcolor); }

.btn {
    display: inline-block;
    border: none;
    color:#fff ;
    padding: 1rem 0;
}
.btn-light {background: var(--light-color);}
.btn-primary {background: var(--primary-color);}
.btn-secondary {background: var(--secondary-color);}

#showcase:before {
    content: '';
    background: url('../img/howsgol.jpg') no-repeat  center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% ;
    height: 100%;
    opacity: 0.4;
}

#showcase .showcase-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 50vh;
}

#showcase .showcase-content { z-index: 1;}

/*Undsen tses */

#home-articles .article-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

}

.card {
    background-color: #fff;
    padding: 1rem;
}

.home-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 1rem;
    overflow: hidden;

}

#home-articles .home-container .article-container img {
    height: 250px;
    width: 500px;
}
.city {
    display: inline-block;
    color: #fff;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

 #home-articles h2 {
    text-align: start;
    color: rgb(0, 0, 0);
    margin-left: 9rem;
    margin-top:1rem;
}

/* Bulgan details */
.container .details {
    background: #fff;
    height: 100vh;
    margin: auto;
    margin-top: 3rem;
}

.details {
    background-color: #fff;
    padding: 1rem;
}

.container .city-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.container .city-grid .details .details-img {
    height: 220px;
    width: 50px;
}


.logo a {

    background: linear-gradient(
        to right,rgba(0, 168, 253), #fff 35%, #e00a95);
    
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s linear infinite;

}


@keyframes gradient {
    0% {background-position: 0% 75%;}
    50% {background-position: 100% 50%;}       
    100% {background-position: 0% 70%;}
}